body
    background-color: peachpuff

section
    display: flex

    &:before-c
        border: 1px solid red

    &:after-c
        border: 1px solid blue

.pizza-slice
    background: resolve('pizza.svg')
    width: width('pizza.svg')
    height: height('pizza.svg')

@svg-load nav url('pizza.svg') {
    fill: tomato
}

.pizza-slice--red
    background: svg-inline(nav);
    width: width('pizza.svg')
    height: height('pizza.svg')

.donut
    background: url('../sprite/donut.png') at-2x;
    width: width('../sprite/donut.png')
    height: height('../sprite/donut.png')

.balloon
    background: url('../sprite/balloon.png') at-2x;
    width: width('../sprite/balloon.png')
    height: height('../sprite/balloon.png')
