body
    background-color: peachpuff

section
    display: flex

    &:before-c
        border: 1px solid red

    &:after-c
        border: 1px solid blue

.pizza-slice
    background: resolve('pizza.svg')
    width: width('pizza.svg')
    height: height('pizza.svg')
