body
    background-color: peachpuff

section
    display: flex
    background: resolve('../images/pizza.svg');

    &:before-c
        border: 1px solid red

    &:after-c
        border: 1px solid blue
